$blue: #0674ec;
$violet: #7347c1;
$grey: #333333;

@mixin q300 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

@mixin q500 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

@mixin q700 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}