@import "vars";
@import "global";
@import "fonts";

.header__top {
  background-color: #eef1f3;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
  }
}

.header__btn {
  background-color: $blue;
  color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  border-radius: 30px;
  font-size: 14px;
  line-height: 28px;
  padding: 4px 18px;
}

.notification {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &+a {
    margin-left: 30px;
  }
}

.alarm {
  &::after {
    content: "\e858";
    font-family: "Linearicons-Free";
    color: #7e8fa1;
    font-size: 20px;
    position: absolute;
  }

  &::before {
    content: "17";
    position: absolute;
    bottom: 10px;
    left: 7px;
    min-width: 18px;
    height: 18px;
    padding: 2px 2px;
    border-radius: 50%;
    background-color: #ff6a6c;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 14px;
  }
}

.cart {
  &::after {
    content: "\e82e";
    font-family: "Linearicons-Free";
    color: #7e8fa1;
    font-size: 20px;
    position: absolute;
  }

  &::before {
    content: "65";
    position: absolute;
    bottom: 10px;
    left: 7px;
    min-width: 18px;
    height: 18px;
    padding: 2px 2px;
    border-radius: 50%;
    background-color: $blue;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 14px;
  }
}

.envelope {
  &::after {
    content: "\e818";
    font-family: "Linearicons-Free";
    color: #7e8fa1;
    font-size: 20px;
    position: absolute;
  }

  &::before {
    content: "87";
    position: absolute;
    bottom: 9px;
    left: 9px;
    min-width: 18px;
    height: 18px;
    padding: 2px 2px;
    border-radius: 50%;
    background-color: #62d03b;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 14px;
  }
}

.header__top-user {
  display: flex;
  align-items: center;

  .user__logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 22px;
  }
}

.user__info {
  font-family: "Quicksand", sans-serif;

  .user__name {
    color: $grey;
  }

  .user__prise {
    color: $blue;
    font-size: 15px;
    line-height: 22px;
  }
}

.user__name {
  color: $grey;
}

.user__prise {
  color: $blue;
}

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu__list {
  display: flex;

  li {
    display: inline-block;

    &+li {
      margin-left: 35px;
    }
  }

  a {
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-weight: medium;
    font-size: 15px;
    line-height: 20px;
    color: $grey;
  }
}

.header__form {
  max-width: 360px;
  width: 100%;
  position: relative;

  input {
    display: block;
    width: 100%;
    height: 46px;
    border: 1px solid #d9dfe5;
    padding: 15px 90px 15px 25px;
    border-radius: 30px;
    outline: none;

    &::placeholder {
      font-size: 15px;
      line-height: 30px;
      font-family: "Quicksand-Regular";
      font-weight: 500;
    }
  }

  button {
    position: absolute;
    width: 70px;
    height: 46px;
    background-color: $blue;
    border: none;
    border-radius: 30px;
    right: 0;
    top: 0;
    outline: none;
    cursor: pointer;

    &::before {
      content: "\e86f";
      font-family: "Linearicons-Free";
      color: #fff;
    }
  }
}

.search {
  background-image: linear-gradient(180deg,
      rgb(0, 48, 222) 0%,
      rgb(23, 69, 237) 54%,
      rgb(46, 90, 251) 100%);
  color: #fff;
  height: 730px;
  text-align: center;
}

.search__inner {
  position: relative;

  &-suptitle {
    font-size: 60px;
    line-height: 70px;
    padding-top: 185px;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 60px;
    line-height: 70px;
    @include q700;
    margin-bottom: 50px;
  }

  &-text {
    font-size: 20px;
    @include q500;
    margin-bottom: 70px;
  }
}

.search__btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 45px;
  padding: 15px 30px;
  transition: all 0.5s;

  &+a {
    margin-left: 25px;
  }

  &:hover {
    background-color: #fff;
    color: $blue;
  }
}

.search__form {
  position: absolute;
  z-index: 10;
  bottom: -238px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  padding: 40px;
  height: 140px;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 30px;
    opacity: 0.3;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1104px;
    width: 100%;
    background-color: #fff;
    height: 140px;
    border-radius: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    bottom: 15px;
    max-width: 1119px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    height: 140px;
    border-radius: 6px;
  }

  input {
    max-width: 610px;
    width: 100%;
    height: 56px;
    padding: 0 30px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px 0 0 4px;
  }

  button {
    background-color: $blue;
    border-radius: 45px;
    height: 56px;
    border: none;
    padding: 20px 67px;
    margin-left: 25px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  select {
    width: 195px;
    height: 56px;
    background: none;
    border: 1px solid rgb(220, 220, 220);
    border-left: none;
    border-radius: 0 4px 4px 0;
    appearance: none !important;
    padding: 17px 0px 16px 20px;
    @include q500;
    font-size: 16px;
    color: #555555;
    margin-left: -6px;
    background: url(../images/icons/chevron-down.svg) no-repeat 95% 17px;
    background-size: 13px 20px;
  }
}

.advantages {
  padding: 185px 0 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.advantages__item {
  padding: 41px 35px 50px;
  text-align: center;
  max-width: 361px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  }

  &-img {
    margin-bottom: 35px;
  }

  &-title {
    color: #010101;
    font-size: 24px;
    margin-bottom: 30px;
  }

  &-text {
    color: #555555;
  }
}

.productinfo-slider {
  background-color: #eff1f5;
  padding: 120px 0;

  &__title {
    margin-bottom: 50px;
  }
}

.productinfo-slider__item {

  display: flex;
  box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);

  &-img {
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 555px;
    width: 100%;
  }

  &-box {
    padding: 50px 60px 25px 50px;
    background-color: #fff;


  }

  &-title {
    color: #000000;
    font-size: 24px;
    @include q500;
    margin-bottom: 15px;
    position: relative;

  }

  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &-author {
    display: flex;
    align-items: center;
    color: #000000;
    @include q500;
    font-size: 15px;
    margin-right: 20px;

    span {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  &-product {
    font-size: 15px;
    color: $violet;
    padding-left: 25px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      background-image: url(../images/icons/wordpress.svg);
      width: 16px;
      height: 16px;
    }
  }

  &-text {
    max-width: 473px;
    color: #555555;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &-sections {
    padding-bottom: 40px;
    margin-bottom: 28px;
    border-bottom: 1px solid #ececec;

    a {
      border-radius: 14px;
      background-color: #f1f3f6;
      padding: 7px 18px;
      color: #868c96;
      font-size: 15px;
      line-height: 15px;

      &+a {
        margin-left: 7px;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-buy {
    display: flex;
  }

  &-price {
    color: #ffffff;
    line-height: 15px;
    font-size: 15px;
    @include q500;
    padding: 9px 19px;
    background-color: $blue;
    border-radius: 16px;
  }

  &-like {
    color: #555555;
    font-size: 15px;
    padding-left: 26px;
    margin-left: 19px;
    position: relative;

    &::before {
      content: "\e813";
      font-family: 'Linearicons-Free';
      font-size: 15px;
      color: $violet;
      left: 0;
      position: absolute;
    }
  }

  &-cart {
    color: $blue;
    font-size: 15px;
    padding-left: 26px;
    margin-left: 19px;
    position: relative;

    &::before {
      content: "\e82e";
      font-family: 'Linearicons-Free';
      font-size: 15px;
      left: 0;
      color: $blue;
      position: absolute;
    }
  }

  &-rate {
    margin-left: auto;
  }
}

.slick-btn {
  background-color: $violet;
  width: 55px;
  height: 45px;
  border: none;
  position: absolute;
  top: -130px;
  outline: none;
  cursor: pointer;

}

.slick-prev {
  border-radius: 23px 0 0 23px;
  right: 85px;

  &::before {
    content: "\e875";
    color: #ffffff;
    font-family: "Linearicons-Free";
    font-size: 14px;
  }
}

.slick-next {
  border-radius: 0 23px 23px 0;
  right: 30px;

  &::before {
    content: "\e876";
    color: #ffffff;
    font-family: "Linearicons-Free";
    font-size: 14px;
  }
}

.products {
  background-color: #eff1f5;
  padding: 120px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__inner-btn {
    height: 92px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    margin-bottom: 50px;

    button {
      color: #747b86;
      font-size: 15px;
      line-height: 15px;
      border-radius: 16px;
      background-color: #f1f3f6;
      padding: 11px 19px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all .5s;

      &.mixitup-control-active {
        border-radius: 16px;
        color: #fff;
        background-color: $blue;
      }

      &+button {
        margin-left: 10px;
      }
    }
  }

}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.products__item {
  max-width: 361px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  margin-bottom: 31px;

  &-img {
    min-height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    position: relative;

    &:hover {
      .products__item-img__menu {
        min-height: 230px;
      }

      .products__item-img__menu a {
        opacity: 1;
        margin-top: 93px;
      }
    }

    &__menu {
      position: absolute;
      min-height: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 4px 4px 0 0;
      width: 100%;
      display: inline-block;
      text-align: center;
      transition: all 1s;

      a {
        color: #ffffff;
        opacity: 0;
        @include q500;
        font-size: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 23px;
        border: 1px solid #f4f4f4;
        padding: 17px 32px;
        line-height: 15px;
        transition: all 1s;
        position: absolute;

        &.more {
          left: 40px;
        }

        &:hover {
          background-color: #fff;
          color: $blue;
          border-color: #fff;
        }
      }
    }
  }

  &-content {
    background-color: #fff;
  }

  &-title {
    color: #000000;
    padding: 0 30px;
    @include q500;
    font-size: 20px;
    line-height: 20px;
    padding-top: 30px;
    margin-bottom: 17px;
  }

  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
    padding: 0 30px;
  }

  &-product {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #000000;
    @include q500;

    span {
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      display: inline-block;
      margin-right: 7px;
    }
  }

  &-type {
    padding-left: 25px;
    color: $violet;
    font-size: 15px;
    position: relative;

    &::before {
      content: "";
      background-image: url(../images/icons/wordpress.svg);
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }

  &-text {
    color: #555555;
    padding: 0 30px 34px 30px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
  }

  &-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    padding-bottom: 17px;
  }

  &-price {
    margin-right: 14px;
    color: $blue;
    font-size: 15px;
    @include q500;
    padding: 8px 19px;
    border-radius: 15px;
    background-color: rgba(3, 113, 231, 0.1);
  }

  &-like {
    margin-right: auto;
    padding-left: 22px;
    color: #7e7e7e;
    font-size: 15px;
    position: relative;

    &::before {
      content: "\e813";
      font-family: 'Linearicons-Free';
      font-size: 15px;
      color: $violet;
      left: 0;
      position: absolute;
    }
  }

  &-cart {
    padding-left: 23px;
    color: $blue;
    font-size: 15px;
    position: relative;

    &::before {
      content: "\e82e";
      font-family: 'Linearicons-Free';
      font-size: 15px;
      color: $blue;
      left: 0;
      position: absolute;
    }
  }
}

.products__item-btn {
  color: #ffffff;
  background-color: $blue;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 21px 33px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

}